<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!--<language feature="de-AT" />-->
  </specFlow>
  <appSettings>
    <add key="dockerUrl" value="http://localhost:4444/wd/hub"/>
    <add key="testUiUrl" value="https://www.saucedemo.com"/>
    <add key="testApiUrl" value="https://reqres.in/"/>
  </appSettings>
</configuration>